--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118

accelerate==1.10.1
qwen-vl-utils[decord]==0.0.8
networkx==3.4.2
transformers==4.55.2
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1